@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom class  */
@layer components {
  .hover-underline-animation {
    @apply inline-block relative;

    &::after {
      @apply bg-slate-800 content-[''] absolute w-full scale-x-0 h-[2px] bottom-0 left-0 origin-left transition-all ease-in-out duration-300;
    }

    &:hover::after {
      @apply scale-x-100;
    }
    .glass-nav {
      box-shadow: 0 0 5px 0;
      background: inherit;
      backdrop-filter: blur(10px);
    }
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eefbff;
}
